.logo {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-family: 'Poppins';
    background-color: #06C36A;
    background: linear-gradient(
        to right,
        rgba(70, 190, 99, 1),
        rgba(5, 193, 105, 1)
    );
    flex-direction: column;
}

form {
    display: block;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFF;
    width: 460px; 
    margin-bottom: 20px; 
}

.container {
    position: absolute;
    top: -5px;
}

#fname, #email, #age {
    width: 450px;
    padding: 5px;
}

#descrip {
    width: 450px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px;
    background-color: #06C36A;
    width: 460px;
    font-size: 15px;
}

.output {
    text-align: center;
    background-color: rgba(10, 178, 234, 0.856);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 460px;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: blue;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}